<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="KAFKA" class="com.xiejun.storm.kafka.writekafka.KafkaAppender">
		<topic>mytopic</topic>
		<zookeeperHost>10.89.34.199970:9092</zookeeperHost>
	</appender>
	<root level="debug">
		<appender-ref ref="KAFKA"></appender-ref>
	</root>
</configuration>